@model _5051.Models.AvatarViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Avatars</h2>

<div class="container">
    <div class="row text-center">

        @{
            if (Model.AvatarList == null || !Model.AvatarList.Any())
            {
                <br />
                <p>No Avatars in the System</p>
                <br />
            }
            else
            {
                foreach (var item in Model.AvatarList)
                {
                    <div class="col-sm-2">
                        <a id="@item.Id" href="~/Avatar/Read/@item.Id">
                            <img src="~/Content/img/@item.Uri" width="75" height="75" />
                            <br />
                            <span>
                                @item.Name
                            </span>
                        </a>
                    </div>
                }
            }
        }

    </div>
    <br />
    <br />
    <div class="row text-center">
        <div class="col-sm-2">
            @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>

