@import "compass/css3";

*, *:before, *:after {
    box-sizing: border-box;

}

html {
    overflow-y: scroll;
}

body {
    background: #fefbd8;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
}

    a:hover {
        color: #138566;
    }

.form {
    background: #3e4444;
    padding: 40px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(62, 68, 68, .3);
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, .5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

    label .req {
        margin: 2px;
        color: #1ab188;
    }

    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
    }

        label.active .req {
            opacity: 0;
        }

    label.highlight {
        color: #fff;
    }

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #fff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

    input:focus, textarea:focus {
        outline: 0;
        border-color: #1ab188;
    }

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

    .top-row > div:last-child {
        margin: 0;
    }

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    display: block;
}

    .button:hover, .button:focus {
        background: #138566;
    }

.button-block {
    text-align: center;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}
