/* --------------Fab5 ----------------*/

body {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: Lato, sans-serif;
}

h1 {
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 800;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set items in a div */
.div-center {
    display: inline-block;
    float: none;
}

#clock {
    display: flex;
    display: -webkit-flex;
    height: 100px;
    width: 360px;
    font-family: Lato;
    font-size: 5em;
    color: navajowhite;
}

.unit {
    height: 100%;
    text-align: center;
    width: 35%;
}

.masthead {
    min-height: 30rem;
    display: block;
    width: 100%;
    height: 550px;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../Content/img/headerbg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

#studentnavicons {
    position: relative;
    top: -700px;
    left: 950px;
}

    #studentnavicons a {
        font-size: 2.5em;
        margin-left: 10px;
    }


#studentnaviconstext {
    position: relative;
    text-align:right;
    top:-700px;
    font-size: 16px;
}

.container-full {
    width:100%;
    margin: 0 auto;
}

.student-index {
    background: #fefbd8;
    background-size: cover;
    

}

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

a.navbar-brand {
    background: url(../Content/img/sitelogo.png) no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-right: 20px;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
}
/*--------------End Fab5--------------*/