/* --------------Fab5 ----------------*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Lato, sans-serif;
}

h1 {
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 800;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set items in a div */
.div-center {
    display: inline-block;
    float: none;
}

#clock {
    text-align: center;
    display: flex;
    display: -webkit-flex;
    height: 130px;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    width: 350px;
    font-family: Lato;
    font-size: 5em;
    line-height: 130px;
    color: black;
}

.unit {
    height: 100%;
    text-align: center;
    width: 35%;
}

.masthead {
    min-height: 30rem;
    display: block;
    width: 100%;
    height: 550px;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../Content/img/headerbg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.studentnavicons {
    position: absolute;
    top: 60px;
    right: 350px;
    font-size: 12px;
}

.container-full {
    width:100%;
    margin: 0 auto;
}
/*--------------End Fab5--------------*/