
@{
    ViewBag.Title = "Student Portal";
}
<div class="container">
    <h2>WELCOME TO STUDENT PORTAL</h2>

    <div class="col-md-6">
        <div>
            <a href="~/Portal/Report">
                <img src="~/Content/img/ReportPic.png" width="300" height="300" display: block; />
                <br />
                <span display: block;>
                    View Reports
                </span>
            </a>
        </div>

    </div>
    <div class="col-md-6">
        <a href="~/Portal/Index">
            <img src="~/Content/img/GameIcon.png" width="300" height="300" display: block />
            <br />
            <span display: block>
                Play Game
            </span>
        </a>
    </div>

