

@{

    ViewBag.Title = "Game Portal";
}

<div class="container">
    <!--<h2 align="center">Welcome to my Student Portal</h2>-->

    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>

    <div class="container">
        <div class="row text-center">
            <img src="~/Content/img/wireframe_student_index.png" width="700" />
        </div>
        <div class="studentnavicons">
            <div style="font-size:2.5em; color:black">
                <a href="~/Portal/Market"><i class="fas fa-shopping-cart"></i></a>
                <a href="~/Portal/Accomplishments"><i class="fas fa-trophy"></i></a>
                <a href="~/Portal/Avatar"><i class="fas fa-user"></i></a>
            </div>
        </div>
    </div>


        <!--DELETE WHEN TURNING IN PROJECT-->
        <!--
        <h2>Welcome to my Student Portal</h2>

        <div class="row text-center">
            <div class="col-sm-12">
                <div class="row text-center">
                    <div class="col-sm-4">
                        <a href="~/Portal/Report">
                            <img src="~/Content/img/PortalReports.png" />
                            <br />
                            <span>Reports</span>
                        </a>
                    </div>

                    <div class="col-sm-4">
                        <a href="~/Portal/House">
                            <img src="~/Content/img/PortalHouse.png" />
                            <br />
                            <span>House</span>
                        </a>
                    </div>

                    <div class="col-sm-4">
                        <a href="~/Shop/Index">
                            <img src="~/Content/img/PortalStore.png" />
                            <br />
                            <span>Store</span>
                        </a>
                    </div>
                </div>

                <div class="row text-center">

                    <div class="col-sm-4">
                        <a href="~/Portal/Settings">
                            <img src="~/Content/img/PortalCustomize.png" />
                            <br />
                            <span>Customize</span>
                        </a>
                    </div>

                    <div class="col-sm-4">
                        <a href="~/Portal/Avatar">
                            <img src="~/Content/img/PortalAvatars.png" />
                            <br />
                            <span>Avatars</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

            -->
