@model _5051.Models.StudentModel

@{

    ViewBag.Title = "Student Portal";
}

<h2>@Model.Name Welcome to your Student Portal</h2>

<div class="row text-center">
    <div class="col-sm-12">
        <div class="row text-center">
            <div class="col-sm-4">
                <a href="~/Portal/Report/@Model.Id">
                    <img src="~/Content/img/PortalReports.png" />
                    <br />
                    <span>Reports</span>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="~/Portal/House/@Model.Id">
                    <img src="~/Content/img/PortalHouse.png" />
                    <br />
                    <span>House</span>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="~/Shop/Index/@Model.Id">
                    <img src="~/Content/img/PortalStore.png" />
                    <br />
                    <span>Store</span>
                </a>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-sm-4">
                <a href="~/Portal/Settings/@Model.Id">
                    <img src="~/Content/img/PortalCustomize.png" />
                    <br />
                    <span>Customize</span>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="~/Portal/Avatar/@Model.Id">
                    <img src="~/Content/img/PortalAvatars.png" />
                    <br />
                    <span>Avatars</span>
                </a>
            </div>
        </div>
    </div>
</div>    