@{

    ViewBag.Title = "Student Portal";
}

<!--<h2 align="center">Welcome to my Student Portal</h2>-->

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
    <div class="row text-center">
        <!--<a href="~/Portal/NinaIndexCopy"> -->
        <img src="~/Content/img/wireframe_student_index.png" width="700" />
        <!--</a>-->
    </div>
    <div class="studentnavicons">
        <div style="font-size:2.5em; color:black">
            <a href="~/Portal/Market"><i class="fas fa-shopping-cart"></i></a>
            <a href="~/Portal/Accomplishments"><i class="fas fa-trophy"></i></a>
            <a href="~/Portal/Avatar"><i class="fas fa-user"></i></a>
        </div>
    </div>
</body>
