@{
    ViewBag.Title = "Student Login";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css" />

</head>


    <div class="form">

        <div id="login">
            <h1>Welcome Back to Nova Town!</h1>

            <form action="/" method="post">

                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email" required autocomplete="off" />
                </div>

                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" required autocomplete="off" />
                </div>

                <p class="forgot"><a href="#">Forgot Password?</a></p>

                <a href="~/Portal/Index" class="button button-block" role="button">Log In</a>
                <!-- <button class="button button-block" ><a href="~/Portal/FirstIndex">Log In</a></button> -->

            </form>

        </div>

    </div>


