@{
    ViewBag.Title = "Login";
}

<div class="row text-center">
    <a href="~/Portal/FirstIndex">
        <img src="~/Content/img/studentGameLogin.png" width="800" />
        <br />
        <span class="h2">Click your name to get started</span>
    </a>
</div>
