
@{
    ViewBag.Title = "Logout";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<div class="container">
    <div class="row text-center">
        <img src="~/Content/img/student_logout.png" width="800" />
    </div>
    <div style="font-size:3em">
        <a href="~/Portal/Index"><i class="far fa-hand-point-left"></i></a>
    </div>
</div>
