
@{
    ViewBag.Title = "Marketplace";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<h2 align="center">Welcome to the Marketplace</h2>

<body>
    <div class="row text-center">
        <img src="~/Content/img/wireframe_market.png" width="800" />
    </div>
    <div style="font-size:3em">
        <a href="~/Portal/IndexNinaCopy"><i class="far fa-hand-point-left"></i></a>
    </div>
</body>











