
@{
    ViewBag.Title = "My Reports";
}

<h2>Welcome to my Reports</h2>
<div class="row text-center">
        <img src="~/Content/img/StudentReport.png" width="800" class="img-responsive"/>
        <br />
</div>

