@{
    ViewBag.Title = "Avatars";
}

<h1>Enable Different Avatars as you level up</h1>

<div class="row">
    <br />
    <br />
    <br />
    <div class="col-sm-4 h4">
        <br />
        <br />
        <br />
        <p>Avatars give you advantages, such as earning bonus points, discounts at the shop, as well as special items.</p>
        <br />
        <p>Earn points toward leveling up your Avatar by signing in before class starts, staying after, and streaks of multiple days</p>
    </div>

    <div class="col-sm-1">

    </div>

    <div class="col-sm-6">
        <img src="~/Content/img/AvatarLevel.png" title="Avatar Level Up Example" />
    </div>

</div>
