@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>This system is make as a class project for Seattle University CS department Students, in conjunction with Middle College High School</p>

<a href="https://www.seattleu.edu/education/community-engagement/middle-college-high-school/">Middle College High School</a>

<br />
<a href="https://www.seattleu.edu/">Seattle University</a>

<p>
    Contact: <a href="mailto:koenigm@seattleu.edu">Mike Koenig</a>
</p>

