@{
    ViewBag.Title = "House Example";
}
<h2>@ViewBag.Title.</h2>

<h3>House Example</h3>

<p>Check out these awesome avatar houses.</p>


<div class="row">

<div class="col-sm-2">
    <span>
        My Avatar goes here !!!
    </span>
</div>

</div>
