@{
    ViewBag.Title = "Privacy";
}
<h2>@ViewBag.Title.</h2>

<p>We value your pricacy.  However, this site is a prototype, and does not attempt to keep data secure or private.  Do not use the system if you are concerned about your data privacy.</p>
