
@{
    ViewBag.Title = "Shop";
}

<h2>Welcome to the Store</h2>


@Html.ActionLink("Discounts", "Discounts", "Shop", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Special Items", "Specials", "Shop", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Buy", "Buy", "Shop", null, new { @class = "btn btn-primary" })

