
@{
    ViewBag.Title = "Calendar";
}
<div class="container">
    <h2>Welcome to Admin Calendar</h2>
    <p>Calendar to override days to take or to not take attendance. To be implemented further</p>
    <br />
    <br />

    <img src="~/Content/img/defaultCalendarX.png" width="700" />


