
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>WELCOME TO ADMIN PORTAL</h2>


    @*@Html.ActionLink("Avatar Editing", "Index", "Avatar", null, new { @class = "btn btn-primary" })

        <br />
        <br />
        @Html.ActionLink("Show Reports", "Report", "Admin", null, new { @class = "btn btn-primary" })

        <br />
        <br />
        @Html.ActionLink("Manage Students", "Index", "Student", null, new { @class = "btn btn-primary" })

        <br />
        <br />
        @Html.ActionLink("School Calendar", "Calendar", "Admin", null, new { @class = "btn btn-primary" })*@
    <div class="col-md-6">
        <div>
            <a id="adminReport" href="~/Admin/Report">
                <img src="~/Content/img/defaultReportIcon.png" width="300" height="300" display: block; />
                <br />
                <span display: block;>
                    View/Edit Reports
                </span>
            </a>
        </div>

    </div>
    <div class="col-md-6">
        <a id="adminReport" href="~/Admin/Calendar">
            <img src="~/Content/img/defaultCalendarIcon.png" width="300" height="300" display: block />
            <br />
            <span display:block>
                Override Calendar
            </span>
        </a>
    </div>

