
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Admin Page</h2>


@Html.ActionLink("Avatar Editing", "Index", "Avatar", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Show Reports", "Report", "Admin", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Manage Students", "Index", "Student", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("School Calendar", "Calendar", "Admin", null, new { @class = "btn btn-primary" })
